.profile-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  font-family: "Inter", sans-serif;
}

.profile-heading {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #111827;
}

.profile-box {
  max-width: 1125px;
  width: 100%;
  background: #ffffff;
  border-radius: 16px;
  padding: 28px 32px;
  display: flex;
  align-items: center;
  gap: 22px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
}

.profile-photo {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-name {
  font-size: 18px;
  font-weight: 600;
  color: #111827;
  margin: 0;
}

.profile-email {
  font-size: 14px;
  color: #6b7280;
  margin: 0;
}

.profile-manage {
  display: inline-block;
  margin-top: 6px;
  padding: 0;

  font-size: 14px;
  font-weight: 500;
  color: #2563eb;
  text-decoration: none;
  cursor: pointer;
}

.profile-manage:hover {
  text-decoration: underline;
}
