.footer-section {
  width: 100%;
  background: #fff;
  /* padding-top: 40px; */
  padding-bottom: 25px;
  font-family: "Inter", sans-serif;
  flex-shrink: 0;
}

/* Blue top border */
.footer-border {
  width: 100%;
  height: 1px;
  background: #e5e7eb;
}

/* MAIN CONTENT LAYOUT */
.footer-content {
  max-width: 1200px;
  margin: 25px auto 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 20px;
}

/* COLUMNS */
.footer-columns {
  display: flex;
  gap: 60px;
}

.footer-col h4 {
  font-family: poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  font-style: semi-bold;
  color: #111827;
  margin-bottom: 10px;
}

.footer-col p {
  font-family: poppins;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  font-size: 14px;
  color: #4b5563;
  margin: 6px 0;
  cursor: pointer;
}

.footer-col p:hover {
  color: #2563eb;
}

/* SOCIAL ICONS */
.footer-social {
  display: flex;
  gap: 18px;
  font-size: 18px;
  color: #6b7280;
}

.footer-social svg {
  cursor: pointer;
  transition: 0.2s;
}

.footer-social svg:hover {
  color: #2563eb;
}

/* COPYRIGHT */
.footer-copy {
  margin-top: 30px;
  text-align: center;
  font-size: 13px;
  color: #6b7280;
}
