body {
  margin-top: 0;
}
.search-wrapper {
  width: 100%;
  padding: 80px 0;
  text-align: center;
  background: #e8effe;
}

.title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #0f172a;
  font-family: Inter, sans-serif;
}

.subtitle {
  font-size: 16px;
  color: #475569;
  margin-bottom: 40px;
}

.search-card {
  background: white;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.field {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.field label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #334155;
}

.input-box {
  width: 260px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  display: flex;
  align-items: center;
  padding: 0 12px;
  gap: 10px;
  background: #fff;
}

.input-icon {
  font-size: 20px;
  color: #6b7280;
}

.input-box input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 15px;
  color: #374151;
  font-family: Inter, sans-serif;
}

input[type="date"] {
  font-family: Inter, sans-serif;
}

.btn-search {
  padding: 15px 45px;
  background: #2563eb;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.2s ease-in-out;
}

.btn-search:hover {
  background: #1e4fcf;
}
