
.search-wrapper {
  width: 100%;
  padding: 70px 0 30px 0;
  text-align: center;
  background: #e8effe;
}

.search-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 8px;
  color: #0f172a;
  font-family: Inter, sans-serif;
}

.search-subtitle {
  font-size: 16px;
  color: #475569;
  margin-bottom: 35px;
}

.search-card {
  background: white;
  width: 75%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 25px 30px;
  border-radius: 18px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.08);

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 22px;
}

.field-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}

.field-group label {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #334155;
}

.input-box {
  width: 100px;
  height: 52px;
  border-radius: 10px;
  border: 1px solid #d1d5db;
  display: flex;
  align-items: center;
  padding: 0 12px;
  gap: 10px;
  background: #fff;
}

.input-icon {
  font-size: 20px;
  color: #6b7280;
}

.input-box input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 15px;
  color: #374151;
  font-family: Inter, sans-serif;
}

.btn-search {
  padding: 14px 35px;
  background: #2563eb;
  color: white;
  font-size: 18px;
  font-weight: 600;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.25s ease-in-out;
}

.btn-search:hover {
  background: #1e4fcf;
}

@media (max-width: 1000px) {
  .search-card {
    flex-direction: column;
    align-items: stretch;
  }

  .btn-search {
    width: 100%;
    margin-top: 15px;
  }
}
