body {
  margin: 0;
}

.navbar {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  height: 100px;
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  border-bottom: 1px solid #eee;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 100;
  transform: translateX(-50%);
  font-family: "Inter", sans-serif;
}

.nav-left {
  width: 95px;
  height: 32px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-logo {
  width: 34px;
  height: 34px;
}

.brand {
  font-family: Montserrat;
  font-style: normal;
  line-height: 28px;
  font-size: 20px;
  font-weight: 600;
  color: #111827;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-links li a {
  font-family: Montserrat;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #4b5563;
  line-height: 24px;
  font-style: normal;
  transition: 0.2s;
}

.nav-links li a:hover {
  color: #2563eb;
}

.nav-links li a.active {
  color: #2563eb;
  font-weight: 300;
}

.nav-user {
  display: flex;
  align-items: center;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.user-button {
  margin-left: 10px;
  margin-right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}
