
.auth-wrapper {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #f7f8fc;
  padding: 20px 0;
}


.auth-card {
  width: 486px;

  background: #ffffff;
  border-radius: 16px;
  padding: 40px 32px;

  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.06);

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo-img {
  width: 56px;
  height: 56px;
  margin-bottom: 18px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

.auth-header {
  margin-bottom: 28px;
}

.auth-header h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #111827;
  margin-bottom: 6px;
}

.auth-header p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #6b7280;
}

.input-wrapper {
  width: 100%;
  margin-bottom: 20px;
  text-align: left;
}

.input-label {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #374151;
  margin-bottom: 6px;
  display: block;
}

.input-box {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: white;
  border: 1.5px solid #e5e7eb;
  border-radius: 8px;

  padding: 10px 14px;
}

.input-field {
  width: 100%;
  border: none;
  outline: none;
  background: transparent;

  font-size: 15px;
  color: #1f2937;
}

.input-field::placeholder {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #9ca3af;
}

.input-icon {
  font-size: 18px;
  color: #9ca3af;
}

.btn-primary {
  width: 100%;
  padding: 12px;

  background: #2563eb;
  border: none;
  border-radius: 8px;

  color: #ffffff;
  font-family: Inter, sans-serif;
  font-size: 16px;
  cursor: pointer;

  margin-top: 6px;
}

.btn-primary:hover {
  background: #1d4ed8;
}

.switch-text {
  margin-top: 18px;
  font-family: Inter, sans-serif;
  font-size: 14px;
  color: #6b7280;
}

.switch-text a {
  color: #2563eb;
  font-weight: 600;
  text-decoration: none;
}

html, body, #root {
  width: 100%;
  height: auto;
  margin: 0;
  background: #f7f8fc;
}
